.login {
  margin: 2.2rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;
  margin: 7rem auto;
}

.form.loading {
  opacity: 0.8;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form p {
  display: flex;
  gap: 0.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: -0.6rem;
}

.form p a {
  text-decoration: none;
  color: var(--color-brand--2);
}

.form p a:hover {
  text-decoration: underline;
}
